.sortable-header {
  & svg {
    opacity: 0;
    transition: opacity 200ms ease;
    color: var(--mantine-primary-color-filled);
  }

  &[data-sorted] {
    & svg {
      opacity: 1;
    }
  }

  &[data-descending] {
    & svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--mantine-color-default-hover) !important;

    & svg {
      opacity: 1;
    }
  }
}
