.sortable-header {
  & svg {
    color: var(--mantine-primary-color-filled);

    &[data-default] {
      color: var(--mantine-color-dimmed);
      opacity: 0.5;
    }
  }

  &[data-descending] {
    & svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--mantine-color-default-hover) !important;
  }
}
