.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 40px;

  & :global(.mantine-ScrollArea-scrollbar) {
    z-index: 10;
    background-color: var(--mantine-color-body);

    :global(.mantine-ScrollArea-corner) {
      background-color: var(--mantine-color-body);
    }
  }

  :global([role='cell']):has(.sticky),
  :global([role='columnheader']):has(.sticky) {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: var(--mantine-color-body);

    &:has([data-right]) {
      left: unset;
      right: 0;
    }
  }
}
