.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 40px;

  & :global(.mantine-ScrollArea-scrollbar) {
    z-index: 10;
  }

  & td,
  & th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }
}

.sticky {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: var(--mantine-color-body);

  &[data-right] {
    left: unset;
    right: 0;
  }
}
