.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 40px;

  :global(.mantine-ScrollArea-scrollbar) {
    z-index: 200;
    background-color: var(--mantine-color-body);

    :global(.mantine-ScrollArea-corner) {
      background-color: var(--mantine-color-body);
    }
  }

  :global(.data-table-cell) {
    background-color: var(--mantine-color-body);
  }

  :global(.data-table-table)[data-with-row-borders='true']
    :global(.data-table-row):nth-of-type(even)
    .sticky {
    box-shadow: inset 0 1px 0 var(--data-table-border-color);
  }

  :global(.data-table-cell):has(.sticky),
  :global(.data-table-header):has(.sticky) {
    position: sticky;
    left: 0;
    z-index: 20;

    &:has([data-right]) {
      left: unset;
      right: 0;
    }
  }
}
